* {
  margin: 0;
  padding:0;
  font-family: "Poppins", 'Helvetica', sans-serif;;
  font-size:16px;
}
a {
  color:	rgb(2, 5, 14);
  text-decoration: none!important;
}
h2{

  font-size: 36px;
  color: #fff;
  font-weight: bold;
}
h2 a {
  font-size: 28px;
  color: #fff;
  letter-spacing: .01em;
  font-weight: 600;
 }

h4 {
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  margin: 5px 0 0;
  letter-spacing: 2px;
}
.txt-s2 {
  font-size: 14px;
}
ul {
  list-style:none;
}
